// 共通部分CSS

// ブレイクポイント
$maxbreakpointMobile: 640px;
$maxbreakpointTablet: 1024px;

// mixin
// ブレイクポイント
@mixin MobileBreakPoint($maxbreakpointMobile) {
    @media screen and (max-width: $maxbreakpointMobile){
        @content;
    }
}

@mixin TabletBreakPoint($maxbreakpointTablet) {
    @media screen and (max-width: $maxbreakpointTablet){
        @content;
    }
}

// MOREボタン
@mixin moreBtnMaker($btn-width: 180px, $btn-height: 50px) {
    width: $btn-width;
    height: $btn-height;
    background-color: $white;
    line-height: $btn-height;
    color: $yellow;
    border: 1px solid $yellow;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 4rem;
    font-weight: bold;
    border-radius: 3vw;

    @include MobileBreakPoint($maxbreakpointMobile) {
        margin-top: 3rem;       
    }        
}

// セクション右上の角


// 見出しの日本語
@mixin hdlJapaneseMaker($hdlName) {
    &:before {
        content: $hdlName;
        display: block;
        position: absolute;
        color: $black;
        font-size: 1.4rem;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100px;
        text-align: center;
        z-index: 2;
        font-weight: normal;

        @include MobileBreakPoint($maxbreakpointMobile) {
            font-size: 1.2rem;
        }
    }
}

// 見出しの円
@mixin hdlCircle( $circleTop:'70%', $circleLeft: '90%', $bg-color: $yellow) {
    &:after {
        content: '';
        display: block;
        background-color: $bg-color;
        width: 54px;
        height: 54px;
        position: absolute;
        top: $circleTop;
        left: $circleLeft;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
        @include MobileBreakPoint($maxbreakpointMobile) {
          width: 35px;
          height: 35px;  
        } 
        @content;
    }
}


// CSSアニメーション
// フェードイン
@keyframes fadein {
    from {
        opacity: 0 !important;
        transform: translate( 0px, 20px) !important;
    }
    to {
        opacity: 1 !important;
        transform: translate( 0px, 0px) !important;
    }
}

.fadeIn {
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 0.1s;
}

// スライドイン
@keyframes slidein {
    from {
        opacity: 0;
        transform: translate(-60vw, 0px);
    }
    to {
        opacity: 1;
        transform: translate( 0px, 0px);
    }
}

.slideIn {
    animation-name: slidein;
    animation-duration: 1s;
}

// 画像のホバー機能
.imgScale {
    transform: scale(1.2,1.2);
}

// color
$black: #161616;
$yellow: #E0B314;
$gley: #C4C4C4;
$white: #ffffff;
$blue: #1C31F5;
$red: #EF6D6D;
$light-gley:#F6F6F6;

// フォントサイズ
html {
    font-size: 62.5%;
}

.lg-hdl {
    font-size: 5rem;

    @include MobileBreakPoint($maxbreakpointTablet) {
        font-size: 5vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        font-size: 3.6rem;
    }
}

.md-hdl {
    font-size: 5rem;

    @include MobileBreakPoint($maxbreakpointTablet) {
        font-size: 5vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        font-size: 3rem;
    }
}

.sm-hdl {
    font-size: 2.1rem;

    @include MobileBreakPoint($maxbreakpointTablet) {
        font-size: 2.1vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        font-size: 1.8rem;
    }
}

.xl-font {
    font-size: 3rem;

    @include MobileBreakPoint($maxbreakpointTablet) {
        font-size: 3vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        font-size: 2.1rem;
    }
}

.lg-font {
    font-size: 2rem;

    @include MobileBreakPoint($maxbreakpointTablet) {
        font-size: 2vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        font-size: 1.8rem;
    }
}

.md-font {
    font-size: 1.6rem;

    @include MobileBreakPoint($maxbreakpointTablet) {
        font-size: 1.6vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        font-size: 1.4rem;
    }
}

.sm-font {
    font-size: 1.4rem;

    @include MobileBreakPoint($maxbreakpointTablet) {
        font-size: 2.4vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        font-size: 1.2rem;
    }
}

.red-font {
    color: $red;
}

.strong-font {
    font-weight: 600;
}

.front-html {
    visibility: hidden;
  }

  .front-html.wf-active, .front-html.loading-delay {
    visibility: visible;
}



* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Spinnaker', sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

h1 {
    position: relative;
    display: block;
    z-index: 900;
}

h2 {
    position: relative;
    display: block;
    z-index: 900;
}

h3 {
    font-weight: 500;
    text-align: center;
}

p {
    line-height: 1.8;
}

.section__hdl {
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    width: 200px;
    margin-bottom: 4.5rem;
}

section {

    position: relative;
    width: 100%;
    height: auto;
}

img {
    height: auto;
}

main {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    box-sizing: border-box;

    @include MobileBreakPoint($maxbreakpointTablet) {
        padding-top: 8vw;
        padding-bottom: 10vw;
    }
 
    @include MobileBreakPoint($maxbreakpointMobile) {
        padding-top: 15vw;
        padding-bottom: 15vw;
    }

}

.top-page {

    main {
        padding-top: 0;
        padding-bottom: 0;
    }

    section {

        padding-top: 70px;
        padding-bottom: 100px;
        box-sizing: border-box;

        @include MobileBreakPoint($maxbreakpointTablet) {

            padding-top: 4.8vw;
            padding-bottom: 7vw;
        }

        @include MobileBreakPoint($maxbreakpointMobile) {

            padding-top: 7vw;
            padding-bottom: 12vw;
        }

        &:nth-of-type(even) {

            background-color: $light-gley;
        }
    }

    #contact {
        padding-bottom: 100px;
    }
}

.triangle {
    width: 90px;
    height: 0px;
    border-left: 0px solid transparent;
    border-right: 90px solid $yellow;
    border-top: 0px solid $yellow;
    border-bottom: 0px solid transparent;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    transition-duration: 0.8s;

    @include MobileBreakPoint($maxbreakpointMobile) {
        width: 12vw;
    }
}

.triangle---active {
    height: 90px;
    border-right: 90px solid $yellow;
    border-top: 90px solid $yellow;
    border-left: 90px solid transparent;
    border-bottom: 90px solid transparent;

    @include MobileBreakPoint($maxbreakpointMobile) {
        height: 12vw;
        border-width: 12vw;
    }
}

.scroll-top---active {
    transform: translateY(0) !important;
}

.confirm-modal---active,.confirm__inner---active {
    display: block !important;
}

#contact .section__inner {

    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;

    .contact__text {

        text-align: center;
    }


    #contact__link {
        @include moreBtnMaker($btn-width: 190px, $btn-height: 50px);
        margin-top: 2rem;        

        @include MobileBreakPoint($maxbreakpointMobile) {
            margin-top: 1rem;
            width: 50vw;
        }
    }
}

li {
    list-style-type: none;
}

a {
    color: $black;
    text-decoration: none;
    transition-duration: 0.5s;

    &:hover {
        color: $yellow;
    }
}

.container {
    height: auto;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
}

.works__main-inner .container {
    max-width: 1080px;
}

.more-link {
    @include moreBtnMaker;    
}

.link-text {
    position: relative;
    display: inline-block;

    &::before {

        content: '';
        width: 25px;
        height: 2px;
        background-color: #161616;
        display: block;
        position: absolute;
        top: 50%;
        right: -35px;
    }   
}

.link-text:hover {

    color: $yellow;
    letter-spacing: 2px;

    &::before {

        background-color: $yellow;   
    }

    &::after {

        background-color: $yellow;   
    }
}

.site__icon {
    .site__logo-link {
        width: 100px;
        height: 33.53px;
        display: block;
        margin: 0 auto;

        .site__icon-img {
            width: 100px;
            height: auto;
        }
    }
}

.section__inner {
    width: 100%;
    margin: 0 auto;
    margin-top: 6rem;

    @include MobileBreakPoint($maxbreakpointMobile) {
        margin-top: 3rem;       
    }
}

.works__img---active {
    transform:scale(1.2,1.2);
}

.yellow-line {

    position: relative;

    &::after {
        content: '';
        width: 30px;
        height: 4px;
        background-color: $yellow;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

// ヘッダー
header {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid $yellow;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 950;

    .header__inner {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pc__nav {
            width: 40%;

            @include MobileBreakPoint($maxbreakpointMobile) {

                display: none;
            }


            .header__nav-list {
                display: flex;
                width: 100%;
                justify-content: flex-end;

                .header__nav-item {
                    margin-left: 2rem;

                    &:first-of-type {
                        margin-left: 0;
                    }
                }
            }

        }
    }
}
#menu-item-15 a {

    &::after {

        content: "\f08e";
        font-family: FontAwesome;
	    margin-left: 5px;
    }
}

#menu-item-52 a {

    &::after {

        content: "\f08e";
        font-family: FontAwesome;
	    margin-left: 5px;
    }
}

// スマホ用メニュー
// ハンバーガーメニュー
.hamburger-menu {
    width: 31px;
    height: 31px;
    position: relative;
    cursor: pointer;
    z-index: 950;
    display: none;
    @include MobileBreakPoint($maxbreakpointMobile) {
        display: block;
    }

    .hamburger-line {
        width: 31px;
        height: 2px;
        position: absolute;
        background-color: $black;
        transition-duration: 0.5s;

        &:first-of-type {
            top: 0px;
        }

        &:nth-of-type(2) {
            top: 10px;
        }

        &:last-of-type {
            top: 20px;
        }
    }
}
.line-active {

    &:first-of-type {

        transform: rotate(45deg) translate( 5px, 8px );
        -webkit-transform: rotate(45deg) translate( 5px, 8px );
        -ms-transform: rotate(45deg) translate( 5px, 8px );
    }

    &:nth-of-type(2) {
        display: none;
    }

    &:last-of-type {

        transform: rotate(135deg) translate( -6px, 8px );
        -webkit-transform: rotate(135deg) translate( -6px, 8px );
        -ms-transform: rotate(135deg) translate( -6px, 8px );
    }
}
.yellow-modal {
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(224,179,20,0.7);
    background-blend-mode:lighten;
    transform: translate( -60vw, 0);
    transition-duration: 0.5s;
    display: none;

    @include MobileBreakPoint($maxbreakpointMobile) {

        display: block;
    }
}

.mobile__nav {
    display: none;
    transform: translate( 40vw,0);
    position: absolute;
    top: 0;
    right: 0;   
}

 @include MobileBreakPoint($maxbreakpointMobile) {

    .mobile__nav {
        width: 40vw;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: $white;
        transform: translate( 40vw,0);
        transition-duration: 0.5s;
        display: block;

        .mobile-header__nav-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 80px;

            .mobile-site__icon {
                width: 80%;

                .mobile-site__logo-link {
                    width: 100%;

                    .mobile-site__icon-img {
                        width: 100%;
                    }
                }
            }

            .mobile-header__nav-item {

                margin-top: 2rem;
                
                a {
                    font-size: 2rem;
                }
                
            }
        } 
    }
}

.nav---active {
    transform: translate( 0, 0);
}

// トップページ
// main-visual
.main-visual {
    width: 100%;
    height: calc( 100vh - 80px);
    background-image: url(../img/main-visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 80px;

    @include MobileBreakPoint($maxbreakpointMobile) {
        display: flex;
        justify-content: center;
    }

    .main-visual__inner {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding-top: 5rem;

        @include MobileBreakPoint($maxbreakpointMobile) {
            padding-top: 12rem;
        }

        .page__hdl {
            text-align: center;
        }

        .page__lead {
            text-align: center;
            margin-top: 7rem;
            display: block;
            font-weight: normal;

            @include MobileBreakPoint($maxbreakpointMobile) {

                margin-top: 4rem;

                br {
                    display: none;
                }
            }
        }

        .top-works__link {
            @include moreBtnMaker($btn-width: 560px, $btn-height: 101px);
            background-color: $white;
            color: $yellow;
            margin-top: 7rem;
            font-weight: bold;

            @include MobileBreakPoint($maxbreakpointMobile) {
                width: 80%;
                height: 15vw;
                line-height: 15vw;
                margin-top: 4rem;
            }

            span {
                font-family: 'Spinnaker', sans-serif;
            }
        }
    }
}

// about
#about {
    height: auto;

    .about__hdl {
        @include hdlJapaneseMaker($hdlName:"私について");
        @include hdlCircle($circleTop: 45%, $circleLeft: 70%);
    }

    .section__inner {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        position: relative;

        @include MobileBreakPoint($maxbreakpointTablet) {
            height: auto;
        }

        @include MobileBreakPoint($maxbreakpointMobile) {
            width: 100%;
            height: auto;
            margin: 0 auto;
            margin-top: 4rem;
        }

        .profile-img__wrap {
            width: 350px;
            height: 350px;
            position: absolute;
            top: -5%;
            right: 5%;
            z-index: 3;
            overflow: hidden;
            border-radius: 3vw;

            @include MobileBreakPoint($maxbreakpointTablet) {

                width: 26vw;
                height: 26vw;
            }

            @include MobileBreakPoint($maxbreakpointMobile) {
                display: none;
            }

            .profile-img {

                width: 100%;
                height: auto;
            }
        }

        .profile-text__wrap {
            width: 90%;
            height: 80%;
            box-sizing: border-box;
            padding: 3rem 4rem 8rem 4rem;
            z-index: 2;
            background-color: #FFFBEF;
            border-radius: 3vw;

            @include MobileBreakPoint($maxbreakpointMobile) {
                width: 100%;
                margin: 0 auto;
                padding: 5vw 6vw;
            }

            .profile-text__title {
                text-align: start;
                margin-bottom: 0;

                span {
                    font-size: 4.8rem;

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        font-size: 3.6rem;
                    }
                }
            }

            .profile__name {
                margin-bottom: 3rem;
            }

            .profile-text {
                line-height: 1.8;
            }

            .profile-text__link {

                margin-top: 2rem;
            }

        }
    }

    #about__link {
        @include moreBtnMaker($btn-width: 180px, $btn-height: 50px);
    }
}


#works {

    .works__hdl {
        @include hdlJapaneseMaker($hdlName:"制作事例");
        @include hdlCircle($circleTop: 45%, $circleLeft: 35%);
    }

    #shuffle__btn {
        display: block;
        @include moreBtnMaker($btn-width: 240px, $btn-height: 50px);
        background-color: $yellow;
        color: $white;

        &::before{
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .section__inner {
        .works__list {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;

            // &::after {
            //     display: block;
            //     content:"";
            //     width: 33%;
            // }

            @include MobileBreakPoint($maxbreakpointMobile) {

                // &::after {
                //     display: none;
                // }
            }

            @include MobileBreakPoint($maxbreakpointMobile) {
                flex-direction: column;
            }

            .works__item {
                width: 30%;
                height: auto;
                display: block;
                opacity: 1;                

                @include MobileBreakPoint($maxbreakpointTablet) {
                    height: auto;
                }   

                @include MobileBreakPoint($maxbreakpointMobile) {
                    width: 100%;
                    margin-bottom: 6rem;
                    height: auto;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }


                    .works__img-wrap {
                        width: 100%;
                        overflow: hidden;

                        .works__img {
                            width: 100%;
                            display: block;
                            transition-duration: 1s;
                        }
                    }

                    .works__description {
                        width: 100%;
                        box-sizing: border-box;
                        padding: 10px 15px 20px 15px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .works__item-hdl {
                            margin-top: 1.6rem;
                            margin-bottom: 1.6rem;
                            font-weight: 500;
                        }

                        .sm-font {
                            margin-top: 1.6rem;
                            text-align: center;
                        }
                    }

                    .works__item-link {

                        margin-top: 15px;
                    }
            }
        }
        #works__link {
            @include moreBtnMaker($btn-width: 180px, $btn-height: 50px);
            margin-top: 2rem;
        }
    }
}


#price {
    
    .price__hdl {
        @include hdlJapaneseMaker($hdlName:"料金");
        @include hdlCircle($circleTop: 45%, $circleLeft: 35%);
    }

    .price__description-wrap {
        width: 100%;
        height: auto;
        margin-bottom: 50px;

        @include MobileBreakPoint($maxbreakpointTablet) {
            margin-bottom: 5vw;
        }

        @include MobileBreakPoint($maxbreakpointMobile) {
            margin-bottom: 10vw;
        }

        .price__description {
            text-align: center;
            line-height: 1.8;

            &:first-of-type {
                margin-bottom: 20px;

                @include MobileBreakPoint($maxbreakpointTablet) {
                    margin-bottom: 2vw;
                }

                @include MobileBreakPoint($maxbreakpointMobile) {
                    margin-bottom: 3vw;
                }
            }
        }
    }

    .price_link-wrap {
        width: 60%;
        height: auto;
        margin: 0 auto;

        @include MobileBreakPoint($maxbreakpointMobile) {
            width: 80%;
        }

        .price__link-description {
            text-align: center;
        }

        .price-table__link {
            @include moreBtnMaker($btn-width: 180px, $btn-height: 50px); 
            margin-top: 30px;

            @include MobileBreakPoint($maxbreakpointTablet) {
                margin-top: 3vw;
            }

            @include MobileBreakPoint($maxbreakpointMobile) {
                margin-top: 6vw;
            }
        }

    }
}


// skill
#skill {

    .skill__hdl {
        @include hdlJapaneseMaker($hdlName:"私ができること");
        @include hdlCircle($circleTop: 45%, $circleLeft: 70%);
    }

    .section__inner {
        .skill__list {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .skill__item {
                width: 27%;
                height: auto;

                @include MobileBreakPoint($maxbreakpointMobile) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 6rem;
                    flex-direction: column;

                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
                
                .skill__img-wrap {
                    width: 100%;
                    height: auto;

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        width: 100%;
                    }

                    .skill__img {
                        width: 100%;
                        height: auto;
                        display: block;

                        @include MobileBreakPoint($maxbreakpointMobile) {
                            width: 100%;
                            margin: 0 auto;
                        }
                    }

                    .skill__item-hdl {
                        margin-top: 1.6rem;
                        margin-bottom: 1.6rem;
                        font-weight: 500;
                    }
                }

                .skill__description {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 10px 15px 20px 15px;
                    margin-top: 1rem;

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        #price__link {
            @include moreBtnMaker($btn-width: 180px, $btn-height: 50px);   
        }
    }
}


#contact {

    .contact__hdl {
        @include hdlJapaneseMaker($hdlName:"お問い合わせ");
        @include hdlCircle($circleTop: 45%, $circleLeft: 35%);
    }
}
// トップページ


// フッター
footer {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    border-top: 2px solid $yellow;

    .site__icon {
        text-align: center;
    }


    #scroll-top {
        width: 20px;
        height: 130px;
        position: absolute;
        top: -140px;
        right: 20px;
        transform: translateY(70px);
        transition-duration: 1s;

        .scroll-top__image {
            width: 100%;
            display: block;
            transition-duration: 0.5s;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

// アニメーション
// 文字広がる
.letter-spacing {

    &:hover {

        letter-spacing: 2px;
    }
}

// 左から背景色
.slide-bg {
    position: relative;
    overflow: hidden;
    color: $white;
    z-index: 1;

    &:before {

        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $yellow !important;
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s;
        z-index: -1;
    }

    &:hover {

        color: $white !important;

        &:before {

            transform: none;
        }
    }
}