.fadeIn {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 0.1s;
	animation-duration: 3s;
	animation-delay: 0.1s;
	animation-name: fadein;
}

.slideIn {
	-webkit-animation-name: slidein;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	animation-name: slidein;
}

.imgScale {
	transform: scale(1.2, 1.2);
}

.char {
	display: inline-block;
	transform: translateY(-30px);
	opacity: 0;
	transition-duration: 1s;
}

.inview .char {
	-webkit-animation-name: kf-animate-char;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: kf-animate-char;
}

html {
	font-size: 62.5%;
}

.lg-hdl {
	font-size: 5rem;
}

.md-hdl {
	font-size: 5rem;
}

.sm-hdl {
	font-size: 2.1rem;
}

.xl-font {
	font-size: 3rem;
}

.lg-font {
	font-size: 2rem;
}

.md-font {
	font-size: 1.6rem;
}

.sm-font {
	font-size: 1.4rem;
}

.red-font {
	color: #EF6D6D;
}

.strong-font {
	font-weight: 600;
}

.front-html {
	visibility: hidden;
}

.front-html.wf-active,
.front-html.loading-delay {
	visibility: visible;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: auto;
	font-size: 16px;
	line-height: 1.4;
	font-family: "Spinnaker", sans-serif;
}

h1 {
	display: block;
	z-index: 900;
	position: relative;
}

h2 {
	display: block;
	z-index: 900;
	position: relative;
}

h3 {
	font-weight: 500;
	text-align: center;
}

p {
	line-height: 1.8;
}

.section__hdl {
	z-index: 2;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 4.5rem;
	text-align: center;
}

section {
	position: relative;
	width: 100%;
	height: auto;
}

img {
	height: auto;
}

main {
	box-sizing: border-box;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 100px;
}

.top-page main {
	padding-top: 0;
	padding-bottom: 0;
}

.top-page section {
	box-sizing: border-box;
	padding-top: 70px;
	padding-bottom: 100px;
}

.top-page section:nth-of-type(even) {
	background-color: #F6F6F6;
}

.top-page #contact {
	padding-bottom: 100px;
}

.triangle {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 0px;
	border-top: 0px solid #E0B314;
	border-right: 90px solid #E0B314;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
	transition-duration: 0.8s;
}

.triangle---active {
	height: 90px;
	border-top: 90px solid #E0B314;
	border-right: 90px solid #E0B314;
	border-bottom: 90px solid transparent;
	border-left: 90px solid transparent;
}

.scroll-top---active {
	transform: translateY(0) !important;
}

.confirm-modal---active,
.confirm__inner---active {
	display: block !important;
}

#contact .section__inner {
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto;
}

#contact .section__inner .contact__text {
	text-align: center;
}

#contact .section__inner #contact__link {
	display: block;
	position: relative;
	width: 190px;
	height: 50px;
	margin: 0 auto;
	margin-top: 4rem;
	margin-top: 2rem;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	color: #E0B314;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

li {
	list-style-type: none;
}

a {
	color: #161616;
	text-decoration: none;
	transition-duration: 0.5s;
}

a:hover {
	color: #E0B314;
}

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding: 0 30px;
}

.works__main-inner .container {
	max-width: 1080px;
}

.more-link {
	display: block;
	position: relative;
	width: 180px;
	height: 50px;
	margin: 0 auto;
	margin-top: 4rem;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	color: #E0B314;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

.link-text {
	display: inline-block;
	position: relative;
}

.link-text::before {
	display: block;
	position: absolute;
	top: 50%;
	right: -35px;
	width: 25px;
	height: 2px;
	background-color: #161616;
	content: "";
}

.link-text:hover {
	color: #E0B314;
	letter-spacing: 2px;
}

.link-text:hover::before {
	background-color: #E0B314;
}

.link-text:hover::after {
	background-color: #E0B314;
}

.site__icon .site__logo-link {
	display: block;
	width: 100px;
	height: 33.53px;
	margin: 0 auto;
}

.site__icon .site__logo-link .site__icon-img {
	width: 100px;
	height: auto;
}

.section__inner {
	width: 100%;
	margin: 0 auto;
	margin-top: 6rem;
}

.works__img---active {
	transform: scale(1.2, 1.2);
}

.yellow-line {
	position: relative;
}

.yellow-line::after {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 110%;
	left: 50%;
	width: 30px;
	height: 4px;
	transform: translate(-50%, -50%);
	background-color: #E0B314;
	content: "";
}

header {
	z-index: 950;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	border-bottom: 2px solid #E0B314;
	background-color: #ffffff;
}

header .header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
}

header .header__inner .pc__nav {
	width: 40%;
}

header .header__inner .pc__nav .header__nav-list {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

header .header__inner .pc__nav .header__nav-list .header__nav-item {
	margin-left: 2rem;
}

header .header__inner .pc__nav .header__nav-list .header__nav-item:first-of-type {
	margin-left: 0;
}

#menu-item-15 a::after {
	margin-left: 5px;
	content: "\f08e";
	font-family: FontAwesome;
}

#menu-item-52 a::after {
	margin-left: 5px;
	content: "\f08e";
	font-family: FontAwesome;
}

.hamburger-menu {
	display: none;
	z-index: 950;
	position: relative;
	width: 31px;
	height: 31px;
	cursor: pointer;
}

.hamburger-menu .hamburger-line {
	position: absolute;
	width: 31px;
	height: 2px;
	background-color: #161616;
	transition-duration: 0.5s;
}

.hamburger-menu .hamburger-line:first-of-type {
	top: 0px;
}

.hamburger-menu .hamburger-line:nth-of-type(2) {
	top: 10px;
}

.hamburger-menu .hamburger-line:last-of-type {
	top: 20px;
}

.line-active:first-of-type {
	-webkit-transform: rotate(45deg) translate(5px, 8px);
	-ms-transform: rotate(45deg) translate(5px, 8px);
	transform: rotate(45deg) translate(5px, 8px);
}

.line-active:nth-of-type(2) {
	display: none;
}

.line-active:last-of-type {
	-webkit-transform: rotate(135deg) translate(-6px, 8px);
	-ms-transform: rotate(135deg) translate(-6px, 8px);
	transform: rotate(135deg) translate(-6px, 8px);
}

.yellow-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 60vw;
	height: 100vh;
	transform: translate(-60vw, 0);
	background-color: rgba(224, 179, 20, 0.7);
	background-blend-mode: lighten;
	transition-duration: 0.5s;
}

.yellow-modal.nav---active {
	transform: translate(0, 0);
}

.mobile__nav {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(40vw, 0);
}

.main-visual {
	width: 100%;
	height: calc(100vh - 80px);
	margin-top: 80px;
	background-image: url(../img/main-visual.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-visual .main-visual__inner {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding-top: 5rem;
}

.main-visual .main-visual__inner .main-visual__title {
	text-align: center;
}

.main-visual .main-visual__inner .page__lead {
	display: block;
	margin-top: 4rem;
	font-weight: normal;
	text-align: center;
}

.main-visual .main-visual__inner .top-works__link {
	display: block;
	position: relative;
	width: 560px;
	height: 101px;
	margin: 0 auto;
	margin-top: 4rem;
	margin-top: 7rem;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	background-color: #ffffff;
	color: #E0B314;
	color: #E0B314;
	font-weight: bold;
	font-weight: bold;
	line-height: 101px;
	text-align: center;
}

.main-visual .main-visual__inner .top-works__link span {
	font-family: "Spinnaker", sans-serif;
}

#about {
	height: auto;
}

#about .about__hdl:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: 2;
	position: absolute;
	top: 110%;
	left: 50%;
	width: 100px;
	transform: translate(-50%, -50%);
	content: "私について";
	color: #161616;
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
}

#about .about__hdl:after {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 70%;
	width: 54px;
	height: 54px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #E0B314;
	content: "";
}

#about .section__inner {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
	height: auto;
}

#about .section__inner .profile-img__wrap {
	z-index: 3;
	position: absolute;
	top: -5%;
	right: 5%;
	width: 350px;
	height: 350px;
	overflow: hidden;
	border-radius: 3vw;
}

#about .section__inner .profile-img__wrap .profile-img {
	width: 100%;
	height: auto;
}

#about .section__inner .profile-text__wrap {
	box-sizing: border-box;
	z-index: 2;
	width: 90%;
	height: 80%;
	padding: 3rem 4rem 8rem 4rem;
	border-radius: 3vw;
	background-color: #FFFBEF;
}

#about .section__inner .profile-text__wrap .profile-text__title {
	margin-bottom: 0;
	text-align: start;
}

#about .section__inner .profile-text__wrap .profile-text__title span {
	font-size: 4.8rem;
}

#about .section__inner .profile-text__wrap .profile__name {
	margin-bottom: 3rem;
}

#about .section__inner .profile-text__wrap .profile-text {
	line-height: 1.8;
}

#about .section__inner .profile-text__wrap .profile-text__link {
	margin-top: 2rem;
}

#about #about__link {
	display: block;
	position: relative;
	width: 180px;
	height: 50px;
	margin: 0 auto;
	margin-top: 4rem;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	color: #E0B314;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

#works .works__hdl:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: 2;
	position: absolute;
	top: 110%;
	left: 50%;
	width: 100px;
	transform: translate(-50%, -50%);
	content: "制作事例";
	color: #161616;
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
}

#works .works__hdl:after {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 35%;
	width: 54px;
	height: 54px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #E0B314;
	content: "";
}

#works #shuffle__btn {
	display: block;
	display: block;
	position: relative;
	width: 240px;
	height: 50px;
	margin: 0 auto;
	margin-top: 4rem;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	background-color: #E0B314;
	color: #E0B314;
	color: #ffffff;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

#works #shuffle__btn::before {
	display: none;
}

#works #shuffle__btn::after {
	display: none;
}

#works .section__inner .works__list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
}

#works .section__inner .works__list .works__item {
	display: block;
	width: 30%;
	height: auto;
	opacity: 1;
}

#works .section__inner .works__list .works__item .works__img-wrap {
	width: 100%;
	overflow: hidden;
}

#works .section__inner .works__list .works__item .works__img-wrap .works__img {
	display: block;
	width: 100%;
	transition-duration: 1s;
}

#works .section__inner .works__list .works__item .works__description {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 10px 15px 20px 15px;
}

#works .section__inner .works__list .works__item .works__description .works__item-hdl {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	font-weight: 500;
}

#works .section__inner .works__list .works__item .works__description .sm-font {
	margin-top: 1.6rem;
	text-align: center;
}

#works .section__inner .works__list .works__item .works__item-link {
	margin-top: 15px;
}

#works .section__inner #works__link {
	display: block;
	position: relative;
	width: 180px;
	height: 50px;
	margin: 0 auto;
	margin-top: 4rem;
	margin-top: 2rem;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	color: #E0B314;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

#price .price__hdl:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: 2;
	position: absolute;
	top: 110%;
	left: 50%;
	width: 100px;
	transform: translate(-50%, -50%);
	content: "料金";
	color: #161616;
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
}

#price .price__hdl:after {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 35%;
	width: 54px;
	height: 54px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #E0B314;
	content: "";
}

#price .price__description-wrap {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

#price .price__description-wrap .price__description {
	line-height: 1.8;
	text-align: center;
}

#price .price__description-wrap .price__description:first-of-type {
	margin-bottom: 20px;
}

#price .price_link-wrap {
	width: 60%;
	height: auto;
	margin: 0 auto;
}

#price .price_link-wrap .price__link-description {
	text-align: center;
}

#price .price_link-wrap .price-table__link {
	display: block;
	position: relative;
	width: 180px;
	height: 50px;
	margin: 0 auto;
	margin-top: 4rem;
	margin-top: 30px;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	color: #E0B314;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

#skill .skill__hdl:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: 2;
	position: absolute;
	top: 110%;
	left: 50%;
	width: 100px;
	transform: translate(-50%, -50%);
	content: "私ができること";
	color: #161616;
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
}

#skill .skill__hdl:after {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 70%;
	width: 54px;
	height: 54px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #E0B314;
	content: "";
}

#skill .section__inner .skill__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: auto;
}

#skill .section__inner .skill__list .skill__item {
	width: 27%;
	height: auto;
}

#skill .section__inner .skill__list .skill__item .skill__img-wrap {
	width: 100%;
	height: auto;
}

#skill .section__inner .skill__list .skill__item .skill__img-wrap .skill__img {
	display: block;
	width: 100%;
	height: auto;
}

#skill .section__inner .skill__list .skill__item .skill__img-wrap .skill__item-hdl {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	font-weight: 500;
}

#skill .section__inner .skill__list .skill__item .skill__description {
	box-sizing: border-box;
	width: 100%;
	margin-top: 1rem;
	padding: 10px 15px 20px 15px;
}

#skill .section__inner #price__link {
	display: block;
	position: relative;
	width: 180px;
	height: 50px;
	margin: 0 auto;
	margin-top: 4rem;
	border: 1px solid #E0B314;
	border-radius: 3px;
	border-radius: 3vw;
	background-color: #ffffff;
	color: #E0B314;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

#contact .contact__hdl:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: 2;
	position: absolute;
	top: 110%;
	left: 50%;
	width: 100px;
	transform: translate(-50%, -50%);
	content: "お問い合わせ";
	color: #161616;
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
}

#contact .contact__hdl:after {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: block;
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 35%;
	width: 54px;
	height: 54px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #E0B314;
	content: "";
}

footer {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	height: 100px;
	border-top: 2px solid #E0B314;
}

footer .site__icon {
	text-align: center;
}

footer #scroll-top {
	position: absolute;
	top: -140px;
	right: 20px;
	width: 20px;
	height: 130px;
	transform: translateY(70px);
	transition-duration: 1s;
}

footer #scroll-top .scroll-top__image {
	display: block;
	width: 100%;
	cursor: pointer;
	transition-duration: 0.5s;
}

footer #scroll-top .scroll-top__image:hover {
	opacity: 0.8;
}

.letter-spacing:hover {
	letter-spacing: 2px;
}

.slide-bg {
	z-index: 1;
	position: relative;
	overflow: hidden;
	color: #ffffff;
}

.slide-bg:before {
	display: inline-block;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	background-color: #E0B314 !important;
	content: "";
	transition: transform 0.5s;
}

.slide-bg:hover {
	color: #ffffff !important;
}

.slide-bg:hover:before {
	transform: none;
}

@media screen and (max-width: 1024px) {

.lg-hdl {
	font-size: 5vw;
}

.md-hdl {
	font-size: 5vw;
}

.sm-hdl {
	font-size: 2.1vw;
}

.xl-font {
	font-size: 3vw;
}

.lg-font {
	font-size: 2vw;
}

.md-font {
	font-size: 1.6vw;
}

.sm-font {
	font-size: 2.4vw;
}

main {
	padding-top: 8vw;
	padding-bottom: 10vw;
}

.top-page section {
	padding-top: 4.8vw;
	padding-bottom: 7vw;
}

#about .section__inner {
	height: auto;
}

#about .section__inner .profile-img__wrap {
	width: 26vw;
	height: 26vw;
}

#works .section__inner .works__list .works__item {
	height: auto;
}

#price .price__description-wrap {
	margin-bottom: 5vw;
}

#price .price__description-wrap .price__description:first-of-type {
	margin-bottom: 2vw;
}

#price .price_link-wrap .price-table__link {
	margin-top: 3vw;
}

}

@media screen and (max-width: 640px) {

.lg-hdl {
	font-size: 3.6rem;
}

.md-hdl {
	font-size: 3rem;
}

.sm-hdl {
	font-size: 1.8rem;
}

.xl-font {
	font-size: 2.1rem;
}

.lg-font {
	font-size: 1.8rem;
}

.md-font {
	font-size: 1.4rem;
}

.sm-font {
	font-size: 1.2rem;
}

main {
	padding-top: 15vw;
	padding-bottom: 15vw;
}

.top-page section {
	padding-top: 7vw;
	padding-bottom: 12vw;
}

.triangle {
	width: 12vw;
}

.triangle---active {
	height: 12vw;
	border-width: 12vw;
}

#contact .section__inner #contact__link {
	margin-top: 3rem;
}

#contact .section__inner #contact__link {
	width: 50vw;
	margin-top: 1rem;
}

.more-link {
	margin-top: 3rem;
}

.section__inner {
	margin-top: 3rem;
}

header .header__inner .pc__nav {
	display: none;
}

.hamburger-menu {
	display: block;
}

.yellow-modal {
	display: block;
}

.mobile__nav {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 40vw;
	height: 100vh;
	transform: translate(40vw, 0);
	background-color: #ffffff;
	transition-duration: 0.5s;
}

.mobile__nav.nav---active {
	transform: translate(0, 0);
}

.mobile__nav .mobile-header__nav-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
}

.mobile__nav .mobile-header__nav-list .mobile-site__icon {
	width: 80%;
}

.mobile__nav .mobile-header__nav-list .mobile-site__icon .mobile-site__logo-link {
	width: 100%;
}

.mobile__nav .mobile-header__nav-list .mobile-site__icon .mobile-site__logo-link .mobile-site__icon-img {
	width: 100%;
}

.mobile__nav .mobile-header__nav-list .mobile-header__nav-item {
	margin-top: 2rem;
}

.mobile__nav .mobile-header__nav-list .mobile-header__nav-item a {
	font-size: 2rem;
}

.main-visual {
	display: flex;
	justify-content: center;
}

.main-visual .main-visual__inner {
	padding-top: 12rem;
}

.main-visual .main-visual__inner .page__lead {
	margin-top: 4rem;
}

.main-visual .main-visual__inner .page__lead br {
	display: none;
}

.main-visual .main-visual__inner .top-works__link {
	margin-top: 3rem;
}

.main-visual .main-visual__inner .top-works__link {
	width: 80%;
	height: 15vw;
	margin-top: 4rem;
	line-height: 15vw;
}

#about .about__hdl:before {
	font-size: 1.2rem;
}

#about .about__hdl:after {
	width: 35px;
	height: 35px;
}

#about .section__inner {
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 4rem;
}

#about .section__inner .profile-img__wrap {
	display: none;
}

#about .section__inner .profile-text__wrap {
	width: 100%;
	margin: 0 auto;
	padding: 5vw 6vw;
}

#about .section__inner .profile-text__wrap .profile-text__title span {
	font-size: 3.6rem;
}

#about #about__link {
	margin-top: 3rem;
}

#works .works__hdl:before {
	font-size: 1.2rem;
}

#works .works__hdl:after {
	width: 35px;
	height: 35px;
}

#works #shuffle__btn {
	margin-top: 3rem;
}

#works .section__inner .works__list {
	flex-direction: column;
}

#works .section__inner .works__list .works__item {
	width: 100%;
	height: auto;
	margin-bottom: 6rem;
}

#works .section__inner .works__list .works__item:last-of-type {
	margin-bottom: 0;
}

#works .section__inner #works__link {
	margin-top: 3rem;
}

#price .price__hdl:before {
	font-size: 1.2rem;
}

#price .price__hdl:after {
	width: 35px;
	height: 35px;
}

#price .price__description-wrap {
	margin-bottom: 10vw;
}

#price .price__description-wrap .price__description:first-of-type {
	margin-bottom: 3vw;
}

#price .price_link-wrap {
	width: 80%;
}

#price .price_link-wrap .price-table__link {
	margin-top: 3rem;
}

#price .price_link-wrap .price-table__link {
	margin-top: 6vw;
}

#skill .skill__hdl:before {
	font-size: 1.2rem;
}

#skill .skill__hdl:after {
	width: 35px;
	height: 35px;
}

#skill .section__inner .skill__list .skill__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 6rem;
}

#skill .section__inner .skill__list .skill__item:last-of-type {
	margin-bottom: 0;
}

#skill .section__inner .skill__list .skill__item .skill__img-wrap {
	width: 100%;
}

#skill .section__inner .skill__list .skill__item .skill__img-wrap .skill__img {
	width: 100%;
	margin: 0 auto;
}

#skill .section__inner .skill__list .skill__item .skill__description {
	width: 100%;
	margin: 0 auto;
}

#skill .section__inner #price__link {
	margin-top: 3rem;
}

#contact .contact__hdl:before {
	font-size: 1.2rem;
}

#contact .contact__hdl:after {
	width: 35px;
	height: 35px;
}

}

@-webkit-keyframes fadein {

from {
	transform: translate(0px, 20px) !important;
	opacity: 0 !important;
}

to {
	transform: translate(0px, 0px) !important;
	opacity: 1 !important;
}

}

@keyframes fadein {

from {
	transform: translate(0px, 20px) !important;
	opacity: 0 !important;
}

to {
	transform: translate(0px, 0px) !important;
	opacity: 1 !important;
}

}

@-webkit-keyframes slidein {

from {
	transform: translate(-60vw, 0px);
	opacity: 0;
}

to {
	transform: translate(0px, 0px);
	opacity: 1;
}

}

@keyframes slidein {

from {
	transform: translate(-60vw, 0px);
	opacity: 0;
}

to {
	transform: translate(0px, 0px);
	opacity: 1;
}

}

@-webkit-keyframes kf-animate-char {

0% {
	transform: translateY(-50px);
	opacity: 0;
}

100% {
	transform: translateY(0);
	opacity: 1;
}

}

@keyframes kf-animate-char {

0% {
	transform: translateY(-50px);
	opacity: 0;
}

100% {
	transform: translateY(0);
	opacity: 1;
}

}

