// color
$black: #161616;
$yellow: #E0B314;
$gley: #C4C4C4;
$white: #ffffff;
$blue: #1C31F5;
$red: #EF6D6D;
$light-gley:#F6F6F6;

.loading-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &.---inactive {
    display: none;
  }
}
  
.loading-bounce {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $yellow;
  margin: 0 auto;
  margin-bottom: 40px;
  animation-name: sk-circle-bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.loading-text {
  font-size: 2.2rem;
}

@keyframes sk-circle-bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}