// 共通部分CSS

// ブレイクポイント
$maxbreakpointMobile: 640px;
$maxbreakpointTablet: 1024px;

// mixin
// ブレイクポイント
@mixin MobileBreakPoint($maxbreakpointMobile) {
    @media screen and (max-width: $maxbreakpointMobile){
        @content;
    }
}

@mixin TabletBreakPoint($maxbreakpointTablet) {
    @media screen and (max-width: $maxbreakpointTablet){
        @content;
    }
}

// MOREボタン
@mixin moreBtnMaker($btn-width: 180px, $btn-height: 50px) {
    width: $btn-width;
    height: $btn-height;
    background-color: $white;
    line-height: $btn-height;
    color: $yellow;
    border: 1px solid $yellow;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 40px;
    font-weight: bold;
    border-radius: 3vw;

    @include MobileBreakPoint($maxbreakpointMobile) {
        margin-top: 30px;       
    }        
}

// セクション右上の角


// 見出しの日本語
@mixin hdlJapaneseMaker($hdlName) {
    &:before {
        content: $hdlName;
        display: block;
        position: absolute;
        color: $black;
        font-size: 14px;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100px;
        text-align: center;
        z-index: 2;
        font-weight: normal;

        @include MobileBreakPoint($maxbreakpointMobile) {
            font-size: 12px;
        }
    }
}

// 見出しの円
@mixin hdlCircle( $circleTop:'70%', $circleLeft: '90%', $bg-color: $yellow) {
    &:after {
        content: '';
        display: block;
        background-color: $bg-color;
        width: 54px;
        height: 54px;
        position: absolute;
        top: $circleTop;
        left: $circleLeft;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
        @include MobileBreakPoint($maxbreakpointMobile) {
          width: 35px;
          height: 35px;  
        } 
        @content;
    }
}


// CSSアニメーション
// フェードイン
@keyframes fadein {
    from {
        opacity: 0 !important;
        transform: translate( 0px, 20px) !important;
    }
    to {
        opacity: 1 !important;
        transform: translate( 0px, 0px) !important;
    }
}

.fadeIn {
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 0.1s;
}

// スライドイン
@keyframes slidein {
    from {
        opacity: 0;
        transform: translate(-60vw, 0px);
    }
    to {
        opacity: 1;
        transform: translate( 0px, 0px);
    }
}

.slideIn {
    animation-name: slidein;
    animation-duration: 1s;
}

// 画像のホバー機能
.imgScale {
    transform: scale(1.2,1.2);
}

// color
$black: #161616;
$yellow: #E0B314;
$gley: #C4C4C4;
$white: #ffffff;
$blue: #1C31F5;
$red: #EF6D6D;
$light-gley:#F6F6F6;
$light-yellow: #FFF3CD;

.sub-page__hdl-wrap {
    width: 48%;
    height: 170px;
    background-color: $yellow;
    position: relative;
    margin-top: 80px;

    @include MobileBreakPoint($maxbreakpointMobile) {
        width: 80%;
        height: 135px;
    }
    

    &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $yellow;
        top: 0;
        right: -35px;
        width: 70px;
        height: 170px;
        -webkit-transform: skew(20deg);
	    -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        border-radius: 5px 5px 20px 5px;

        @include MobileBreakPoint($maxbreakpointMobile) {

            height: 135px;            
        }
    }

    .sub-page__hdl {
        margin: 0 auto;
        padding-top: 30px;
    }

    .about-page__hdl {
        width: 180px;
        text-align: center;
        @include hdlJapaneseMaker($hdlName:"私について");
        @include hdlCircle($circleTop: 55%, $circleLeft: 70%, $bg-color: $white);
    }

    .works-page__hdl {
        width: 180px;
        text-align: center;
        @include hdlJapaneseMaker($hdlName:"制作事例");
        @include hdlCircle($circleTop: 55%, $circleLeft: 70%, $bg-color: $white);
    }

    .price-page__hdl {
        width: 180px;
        text-align: center;
        @include hdlJapaneseMaker($hdlName:"料金表");
        @include hdlCircle($circleTop: 55%, $circleLeft: 70%, $bg-color: $white);   
    }

    .contact-page__hdl {
        width: 180px;
        text-align: center;
        @include hdlJapaneseMaker($hdlName:"お問い合わせ");
        @include hdlCircle($circleTop: 55%, $circleLeft: 70%, $bg-color: $white);   
    }

    .none-page__hdl {
        width: 350px;
        text-align: center;
        @include hdlJapaneseMaker($hdlName:"ページが見つかりません");
        @include hdlCircle($circleTop: 55%, $circleLeft: 70%, $bg-color: $white);

        &::before {
            width: 200px;
        }
    }

    .privacy-policy-page__hdl {
        width: 350px;
        text-align: center;
        @include hdlJapaneseMaker($hdlName:"プライバシーポリシー");
        @include hdlCircle($circleTop: 55%, $circleLeft: 70%, $bg-color: $white);

        &::before {
            width: 200px;
        }
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        justify-content: center;;
        margin: 0 auto;
        margin-top: 25px;

        .home__link {
            margin-right: 10px;

            &:hover {
                color: $white;
            }
        }

        .now__area {
            margin-left: 10px;
        }
    }
}

// パンくず
.breadcrumb {

    display: flex;
    align-items: center;
    justify-content: center;;
    margin: 0 auto;
    margin-top: 25px;

    .breadcrumb__separation {
        margin-left: 5px;
        margin-right: 5px;
    }

    a {
        display: block;

        &:hover {
            color: $white;
        }
    }

}

// 下層ページ共通コメント
.sub-page__comment {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 80px;

    @include MobileBreakPoint($maxbreakpointTablet) {
        margin-bottom: 8vw;
    }

    @include MobileBreakPoint($maxbreakpointMobile) {
        margin-bottom: 15vw;
        width: 90%;
    }
}

// aboutページ
.about__main-inner {
    width: 100%;

    .md-hdl {
        position: relative;
        margin-bottom: 40px;
        text-align: center;

        &::after {
            content: '';
            width: 30px;
            height: 4px;
            background-color: $yellow;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
    }

    .profile__sec {
        margin-bottom: 100px;

        @include MobileBreakPoint($maxbreakpointMobile) {
            margin-bottom: 50px;
        }

        .profile__inner {
            width: 100%;
            box-sizing: border-box;
            padding: 40px 30px;
            background-color: $light-gley;
            margin: 0 auto;
            border-radius: 3vw;

            @include MobileBreakPoint($maxbreakpointMobile) {

                width: 100%;
                padding: 20px 20px;
            }

            .profile-head {
                width: 70%;
                height: auto;
                box-sizing: border-box;
                margin: 0 auto;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                @include MobileBreakPoint($maxbreakpointMobile) {
                    width: 90%;
                    padding: 5vw 0 0 0;
                }

                .profile-head__img-wrap {
                    width: 350px;
                    height: 350px;
                    border-radius: 3vw;
                    overflow: hidden;
                    
                    @include MobileBreakPoint($maxbreakpointTablet) {

                        width: 24.3vw;
                        height: 24.3vw;
                    }

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        
                        width: 40vw;
                        height: 40vw;
                    }

                    .profile-head__img {
                        width: 350px;
                        height: 350px;

                        @include MobileBreakPoint($maxbreakpointTablet) {
                            width: 24.3vw;
                            height: 24.3vw;
                        }

                        @include MobileBreakPoint($maxbreakpointMobile) {
                            width: 40vw;
                            height: 40vw;
                        }
                    }
                }

                
            }

        
            .profile-text__detail {
                width: 80%;
                height: auto;
                box-sizing: border-box;
                margin: 0 auto;
                padding: 10px 20px;
    
                @include MobileBreakPoint($maxbreakpointMobile) {
                    width: 95%;
                    padding: 5vw 0;
                }
                
    
                .profile__text {
                    line-height: 1.8;
                    margin-bottom: 15px;

                    @include MobileBreakPoint($maxbreakpointTablet) {
                        margin-bottom: 1.5vw;
                    }

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        margin-bottom: 3vw;
                    }
                }
            }
        }
    }

    .skill__sec {
        margin-bottom: 100px;

        @include MobileBreakPoint($maxbreakpointMobile) {
            margin-bottom: 50px;
        }

        .skill__table {
            width: 100%;    
    
            tbody {
                border-radius: 3vw;
                border-spacing: 0;
                border-collapse: separate;
    
                tr {
    
                    border-radius: 3vw;
                    border-spacing: 0;
                    border-collapse: separate;
    
                    @include MobileBreakPoint($maxbreakpointMobile) {
                        display: flex;
                        flex-direction: column;
                        border-bottom: 15px solid $white;
                        box-sizing: border-box;
                    }
    
                    th {
                        width: 25%;
                        background-color: $yellow;
                        box-sizing: border-box;
                        border-bottom: 2px solid $white;
                        vertical-align: middle;
                        border-radius: 0.3vw 0 0 0.3vw;
                        border-spacing: 0;
                        border-collapse: separate;
    
                        @include MobileBreakPoint($maxbreakpointMobile) {
                            width: 100%;
                            border: none;
                            border-radius: 0.8vw 0.8vw 0 0;
                        }
                    }
    
                    td {
                        background-color: $light-yellow;
                        border-bottom: 2px solid $white;
                        border-radius: 0 0.3vw 0.3vw 0;
                        border-spacing: 0;
                        border-collapse: separate;
    
                        @include MobileBreakPoint($maxbreakpointMobile) {
                            border: none;
                            border-spacing: 0;
                            border-collapse: separate;
                            border-radius: 0 0 0.8vw 0.8vw;
                        }
                    }
                }
            }
    
            th,td {
                padding: 10px;
            }
        }
    }

    .strength__sec {

        .strength__inner {
            width: 100%;
            box-sizing: border-box;
            padding: 40px 30px;
            background-color: $light-gley;
            margin: 0 auto;
            border-radius: 3vw;

            @include MobileBreakPoint($maxbreakpointMobile) {
                width: 100%;
                padding: 20px 20px;
            }            

        }
    }
}
.strength__text-box {
    width: 80%;
    margin: 0 auto;

    @include MobileBreakPoint($maxbreakpointMobile) {
        width: 95%;
    }

    .strength__text-box__hdl {
        text-align: start;
        margin-bottom: 10px;
    }

    .strength__text-box__text {
        margin-bottom: 20px;        

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// worksページ
.works__main-inner {
    width: 100%;

    .works__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;

        .works__item {
            width: 480px;
            height: 580px;
            margin-top: 0;
            background-color: $light-gley;
            border-radius: 3vw;

            &:nth-of-type(2n) {
                margin-top: 80px;
            }

            @include TabletBreakPoint($maxbreakpointTablet) {
                width: 93vw;
                height: auto;
                padding-bottom: 30px;
                margin-top: 15vw;

                &:nth-of-type(2n) {
                    margin-top: 15vw;
                }

                &:first-of-type {
                    margin-top: 0;
                }
            }

            @include MobileBreakPoint($maxbreakpointMobile) {
                width: 93vw;
                height: auto;
                padding-bottom: 30px;
                margin-top: 15vw;

                &:nth-of-type(2n) {
                    margin-top: 15vw;
                }

                &:first-of-type {
                    margin-top: 0;
                }
            }

            .works__item-wrap {
                width: 100%;
                box-sizing: border-box;
                padding: 20px 30px;

                .works__img-wrap {
                    width: 100%;
                    height: 275px;
                    overflow: hidden;
                    border-radius: 2vw;

                    @include TabletBreakPoint($maxbreakpointTablet) {
                        height: 50vw;
                    }

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        height: 50vw;
                        border-radius: 3vw;
                    }

                    .works__img {
                        width: 100%;
                        height: auto;
                        transition-duration: 0.5s;

                        @include MobileBreakPoint($maxbreakpointMobile) {
                            border-radius: 3vw;
                        }


                        &:hover {
                            transform:scale(1.1,1.1);
                        }
                    }
                }

                .works__description-wrap {
                    margin-top: 10px;
                    box-sizing: border-box;
                    padding: 10px 20px;
                    justify-items: center;
                    display: flex;
                    flex-direction: column;

                    .works__item-hdl {
                        text-align: center;
                    }

                    .works__description {
                        box-sizing: border-box;
                        padding-top: 10px;
                    }
                }

                .works__link {
                    
                    width: fit-content;
                    margin: 0 auto;
                    display: inline-block;
                    margin-top: 20px;

                    @include TabletBreakPoint($maxbreakpointTablet) {
                        margin-top: 4vw;
                    }

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        margin-top: 4vw;
                    }
                }
            }
        }
    }

    .pagenation {
        width: 160px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}

// Price
.price__main-inner {

    .table-bordered {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;

        @include MobileBreakPoint($maxbreakpointMobile) {
            width: 100%;
        }


        tbody {
            width: 100%;

            tr {
                width: 100%;
                height: 80px;
                line-height: 80px;

                &:nth-of-type(odd) {
                    background-color: #E0ECFA;
                }

                &:nth-of-type(even) {
                    background-color: $white;
                }

                #price__headline {
                    width: 30%;
                    line-height: 24.5px;
                    box-sizing: border-box;
                    padding: 20px 5px;

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        font-size: 2.3vw;
                        width: 40%;
                    }
                }

                &:first-of-type {
                    #price__headline {
                        @include MobileBreakPoint($maxbreakpointMobile)  {
                            // border-top: 1px solid $yellow;
                        }
                    }
                }

                #price__info {
                    // border: 1px solid $yellow;
                    line-height: 24.5px;
                    box-sizing: border-box;
                    padding: 20px 5px;
                    font-weight: normal;

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        // display: block;
                        // width: 100%;
                        // border-top: none;
                        // border-bottom: none;
                        font-size: 2.8vw;
                        width: 60%;
                    }
                }

                .sp-br {
                    display: none;

                    @include MobileBreakPoint($maxbreakpointMobile) {
                        display: block;
                    }
                }
            }
        }
    }

    .contact__wrap {
        margin-top: 60px;
        width: 80%;

        @include MobileBreakPoint($maxbreakpointMobile) {
            width: 100%;
        }
    }

}


// contactページ
#contact__area {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

    @include MobileBreakPoint($maxbreakpointMobile) {
        width: 90%;
    }

    label {
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }

    p {
        width: 100%;

        &:nth-of-type(5) {
            text-align: center;
        }
    }

    input[type="text"] {
        width: 100%;
        padding: 10px 7px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        @include MobileBreakPoint($maxbreakpointMobile) {
            padding: 1.5vw 1.5vw;
        }
    }

    input[type="email"] {
        width: 100%;
        padding: 10px 7px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        @include MobileBreakPoint($maxbreakpointMobile) {
            padding: 1.5vw 1.5vw;
        }
    }

    .radio-59 {

        .first {
            margin-left: 0;
        }
    }

    textarea {
        width: 100%;   
        padding: 10px 7px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        @include MobileBreakPoint($maxbreakpointMobile) {
            padding: 1.5vw 1.5vw;
        }
    }

    input[type="checkbox"] {

        border-radius: 3px;
    }

    input[type="submit"] {
        appearance: none;
        -webkit-appearance: none;
        @include moreBtnMaker( $btn-width: 200px, $btn-height: 48px );
        margin: 0 auto;
        border-radius: 3vw;
        transition-duration: 1s;
        cursor: pointer;
        font-size: 20px;
        line-height: 36px;
        -moz-box-shadow: 0px 0px 8px 1px rgba(224, 179, 20, 0.8);
        -webkit-box-shadow: 0px 0px 8px 1px rgba(224, 179, 20, 0.8);
        -ms-box-shadow: 0px 0px 8px 1px rgba(224, 179, 20, 0.8);
        box-shadow: 0px 0px 8px 1px rgba(224, 179, 20, 0.8);
        border: none;

        &:hover {
            box-shadow: none;
            background-color: $yellow;
            color: $white;
        }
    }

    .privacy-policy__wrap {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .privacy-policy__link {
        color: $yellow;
        text-decoration: underline;
        transition-duration: 1s;
    }

    // #cancel__btn {
        
    //     @include moreBtnMaker( $btn-width: 200px, $btn-height: 60px );
    //     background-color: $gley;
    //     margin-top: 0;
    //     transition-duration: 1s;
    //     border-color: $black;
    //     margin-top: 10px;
    //     color: $white;

    //     &::before {
    //         display: none;
    //     }

    //     &::after {
    //         display: none;
    //     }

    //     &:hover {
    //         background-color: $white;
    //         color: $gley;
    //     }
    // }

    // 必須項目
    .required-item {
        background-color: $red;
        color: $white;
        padding: 3px 5px;
        font-size: 14px;
        border-radius: 3px;      
    }


    // 確認画面モーダル
    // #confirm-modal {
    //     width: 100vw;
    //     height: calc(100vh - 80px);
    //     background-color:rgba(224,179,20,0.7);
    //     background-blend-mode:lighten;
    //     position: fixed;
    //     top: 80px;
    //     left: 0;
    //     z-index: 980;
    //     display: none;
    // }

    // #confirm__inner {
    //     width: 60%;
    //     height: 60vh;
    //     background-color: $white;
    //     padding: 20px 20px;
    //     z-index: 999;
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     -webkit-transform: translate(-50%, -50%);
    //     -ms-transform: translate(-50%, -50%);
    //     display: none;

    //     @include MobileBreakPoint($maxbreakpointMobile) {
    //         width: 80%;
    //         height: 63vh;
    //         top: 55%;
    //     }

    //     .comfirm__list {
    //         .confirm__item {
    //             display: flex;
    //             margin-bottom: 20px;

    //             @include MobileBreakPoint($maxbreakpointMobile) {
    //                 flex-direction: column;
    //                 margin-bottom: 10px;
    //             }

    //             &:nth-of-type(4) {
    //                 display: block;
    //             }

    //             p {
    //                 &:first-of-type {
    //                     margin-right: 10px;
    //                 }
    //             }
    //         }
    //     }

    //     .contact-success {
    //         display: none;
    //         margin: 0 auto;

    //         p {
    //             text-align: center;
    //         }
    //     }

    //     .contact-failure {
    //         display: none;
    //         margin: 0 auto;

    //         p {
    //             text-align: center;
    //         }
    //     }

    //     #close__btn-wrap {
    //         position: absolute;
    //         top: 5px;
    //         right: 10px;
    //         width: 40px;
    //         height: 40px;
    //         cursor: pointer;

    //         .close__btn {
    //             width: 40px;
    //             height: auto;
    //         }
    //     }
    // }

    .wpcf7-response-output {
        border: none;
        text-align: center;
    }

}

.privacy__main-inner {

    width: 80%;
    height: auto;
    margin: 0 auto;

    .privacy__item {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 60%;

        &:last-of-type {

            text-align: center;
        }

        .sm-hdl {
            text-align: center;
        }

        .md-font {
            margin-top: 15px;
            text-align: center;
        }
    }
}

// 制作事例詳細
.works-detail__item-wrap {
    
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @include MobileBreakPoint($maxbreakpointMobile) {
        width: 100%;
    }

    .works-detail__item-hdl {
        text-align: center;
        margin-bottom: 20px;

        @include MobileBreakPoint($maxbreakpointMobile) {

        }
    }

    .works__img {
        width: 100%;
        height: auto;
    }


    .works-detail__item-table-wrap {
        width: 100%;

        @include MobileBreakPoint($maxbreakpointMobile) {

            overflow: auto; /*スクロールさせる*/
        }

        &::-webkit-scrollbar{

            @include MobileBreakPoint($maxbreakpointMobile) {
                       
                height: 5px;
            }
        }

        &::-webkit-scrollbar-track{

            @include MobileBreakPoint($maxbreakpointMobile) {
                       
                background: #333;
            }
        }
        
        &::-webkit-scrollbar-thumb {

            @include MobileBreakPoint($maxbreakpointMobile) {
                       
                background: #999;
            }            
        }
                
        
        .works-detail__item-table {
            width: 100%;
            border-bottom: 1px solid #F0F0F0;    
    
            tbody {
    
                tr {
    
                    th {
                        background-color: $yellow;   
                    }
                }
            }
    
            th,td {
                padding: 10px;
                vertical-align: middle;
            }
    
            a {
                text-decoration: underline;
                color: $yellow;
                transition-duration: 1s;
    
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

}

.archive__link-btn {
    @include moreBtnMaker($btn-width: 260px, $btn-height: 50px);
}